{% extends "base.html" %}
{% load static %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">

        <h1 class="d-flex justify-content-center mb-5">Posts</h1>

        <div class="row">

            {% for product in products reversed %}

            <div class="col-md-4">
                <div class="card my-2">

                    <a href="{% url 'products:product_details' product.id %}"><img class="image-thumbnail"
                            src="{{product.image.url}}" alt="..."></a>
                    <div class="card-body">
                        <small>{{product.product_name}}</small><br>
                        <small>price: ${{product.price}}</small>
                    </div>
                    <a href="#" class="btn btn-outline-dark btn-sm m-1">View</a>
                    <a href="#" class="btn btn-outline-dark btn-sm m-1">Message</a>

                </div>

            </div>

            {% empty %}
            <div class="card">
                <h5>NOTHING FOUND!!</h5>

            </div>
            {% endfor %}

            









        </div>

    </div>
</section>





{% endblock %}